//nexus.neuralcompany.team/repository/npm-hosted/:_authToken=NpmToken.1fc42b88-c0dd-33ae-a76f-5eb931ad603c
email = janit.chawla@xenonstack.com
always-auth = true
registry = https://nexus.neuralcompany.team/repository/npm-hosted/
